@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');


nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;

  padding: 20px 30px;

  transition: opacity 400ms ease, box-shadow 400ms ease;

  opacity: 0.5;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0,15)

}

nav:hover {
  opacity: 1;
  box-shadow: 15px 15px 15px rgba( 0, 0, 0, 0,25)
}

nav a {
  text-decoration: none;

  color: inherit;
}

nav ul {
  width: 300px;
}

nav > ul > li:first-child {
    font-weight: bold;
}

nav ul li {
  margin-bottom: 15px;
}

nav ul li ul {
  margin-top: 15px;
  margin-left: 25px;

  color: rgba(0, 0, 0, 0.5);
}

nav ul li ul a:hover {
  color: rgba(0,0,0,0.8);
}

body {
  font-family: "PT Sans", Helvetica, sans-serif, serif, monospace;
  width: 700px;
  margin:  67px 0 0 370px;
  /* background-image: url(../img/dc-online-media-mockup.jpg.icloud); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 800px 20624px;
}

.top {
  color: gray;
  font-size: 25px;
  margin-bottom: 31px;
}

h1 {
font-size: 45px;
font-weight: bold;
}

h2 {
  font-size: 37px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}
p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 30px;
}

ol {
  list-style-type: decimal;
  font-size: 20px;
  padding-left:20px;
}

li {
  line-height: 32px;
  margin-bottom: 10px;
  padding-left:10px;
}

.cicata{
  border-left: solid 3px;
  padding-left:20px;
  margin-left: -20px;
  font-style: italic;
}

.dot {
  list-style-type: disc;
}

.gray {
  color: gray;
}
.black {
  color: black;
}


/* h1 + p{
  color: gray;
} */
/* com */
